{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-spacer',
    height: 'sm',
    visible: false,
    label: null
  },
  classes: {
    root: 'border-0 text-primary',
    custom: '',
    visible: 'bg-primary'
  },
  variants: {
    size: {
      sm: 'h-2 md:h-4',
      md: 'h-4 md:h-8',
      lg: 'h-8 md:h-16',
      xl: 'h-16 md:h-32',
      '2xl': 'h-32 md:h-64'
    },
    line: {
      sm: 'h-[1px]',
      md: 'h-1',
      lg: 'h-2',
      xl: 'h-3',
      '2xl': 'h-4'
    }
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data|merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes|merge(classes) : compDefaults.classes,
  variants: compDefaults.variants
} %}

{% if props.data.label %}
  <div class="{{ props.data.name ~ '__wrapper' }} {{ props.classes.root }}">
    <label class="{{ props.data.name ~ '__label' }}"><span>{{ props.data.label }}</span></label>
    <div class="{{ props.variants.line[props.data.height] }} {{ props.classes.visible }}"></div>
  </div>
{% else %}
  <hr class="{{ props.data.name }} {{ props.classes.root }}  {{ props.data.visible ? props.variants.line[props.data.height] : props.variants.size[props.data.height] }}  {{
    props.data.visible
      ? props.classes.visible
      : ""
    }} {{ props.classes.custom }}" />
{% endif %}
