{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-blockChannelSlider',
    block: null,
  },
  classes: {
    root: 'container grid grid-cols-12 gap-4 md:gap-8',
    custom: '',
  },
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{% if props.data.block.channelSelect ??? null %}
  <div class="{{ props.data.name }} {{ props.classes.root }}  {{ props.classes.custom }}">
    {% if props.data.block.channelOverview is defined %}
      {% set overviewPage = props.data.block.channelOverview.one() %}

      {# Headline #}
      {{ include('_components/text/textBlockHeadline.twig', {
        data: {
          headline: overviewPage.textCustomTitle ??? overviewPage.title ??? null,
          text: overviewPage.textEntryDescription ??? null,
        },
        classes: {
          custom: ''
        }
      }, withContext = false) }}

      {# Image #}
      {{ include('_components/image/image.twig', {
        data: {
          image: props.data.block.assetImage.one() ??? null,
          aspectRatio: 'aspect-video',
          transform: 'auto',
          caption: 0,
          objectFit: 'cover',
          lazy: false
        },
        classes: {
          custom: 'hasGradient md:col-span-10 md:col-start-2 my-16'
        }
      }, withContext = false) }}
    {% endif %}

    {# Switch Tabbed and non Tabbed Slider #}
    {% if props.data.block.channelSelect.value == 'accommodation'  %}
      {% embed "_components/tabs/tabs.twig"
        with {
        data: {
          numberOfTabs: 2,
          variantPosition: 'top',
          section: props.data.block.channelSelect
        },
        classes: {
          custom: 'col-span-12 mt-8',
        }
      }
      %}
        {% block tab1 %}
          Zimmer
        {% endblock %}
        {% block content1 %}
          {% set entryQuery = craft.entries
            .section(props.data.section)
            .accommodationType(0)
            .with(['assetEntryImage'])
            .orderBy('postDate DESC') %}
          {% set entries = entryQuery.all() %}

          {{ include('_components/slider/sliderEntries.twig', {
            data: {
              slides: entries ??? null,
            },
            classes: {
              custom: 'col-span-12 md:col-span-9 md:col-start-3'
            }
          }, withContext = false) }}
        {% endblock %}
        {% block tab2 %}
          Suiten
        {% endblock %}
        {% block content2 %}
          {% set entryQuery = craft.entries
            .section(props.data.section)
            .accommodationType(1)
            .with(['assetEntryImage'])
            .orderBy('postDate DESC') %}
          {% set entries = entryQuery.all() %}

          {{ include('_components/slider/sliderEntries.twig', {
            data: {
              slides: entries ??? null,
            },
            classes: {
              custom: 'col-span-12 md:col-span-9 md:col-start-3'
            }
          }, withContext = false) }}
        {% endblock %}
      {% endembed %}
    {% else %}
      {# Entry Slider #}
      {% set entryQuery = craft.entries
        .section(props.data.block.channelSelect)
        .with(['assetEntryImage'])
        .orderBy('postDate DESC') %}

      {% set entries = entryQuery.all() %}

      {{ include('_components/slider/sliderEntries.twig', {
        data: {
          slides: entries ??? null,
        },
        classes: {
          custom: 'col-span-12 md:col-span-9 md:col-start-3 mt-8'
        }
      }, withContext = false) }}
    {% endif %}
  </div>
{% endif %}
