{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-accordionFaq',
    firstOpen: true,
    numberOfAccordions: 1,
    object: null,
    headline: null,
    text: null
  },
  classes: {
    root: 'container grid grid-cols-1 gap-4 md:gap-8 md:grid-cols-12',
    custom: '',
    detailsWrapper: 'md:col-span-10 md:col-start-2 grid grid-cols-1 gap-4 md:gap-8 !gap-y-0 md:grid-cols-10',
    details: 'md:col-span-10 text-base/loose text-bp-text border-b border-bp-accent first:border-t py-4',
    summary: 'a11y-keyboard-focus list-none cursor-pointer font-bold text-black flex outline-none justify-between items-center rounded px-4',
    contentHolder: 'mt-4 mb-8 px-4',
  }
} %}


  {# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
} %}

{# Component #}
<div class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}">
  {{ include('_components/text/textBlockHeadline.twig', {
    data: {
      headline: props.data.headline ??? null,
      text: props.data.text ??? null,
      variantSize: 'lg',
    },
    classes: {
      custom: ''
    }
  }, withContext = false) }}

  {# FAQs #}
  {% if props.data.object | length %}
    <div class="{{ props.classes.detailsWrapper }}">
      {% for item in props.data.object %}
        <details class="{{ props.classes.details }}"
           {% if props.data.firstOpen and loop.first %}open{% endif %}>
          <summary class="{{ props.classes.summary }}">
            {{ include('_components/text/headline.twig', {
              data: {
                text: item.textTerm ??? null,
                variantSize: 'h3',
                tag: 'h3',
              }
            }, withContext = false) }}
            {{ include('_components/icon/icon.twig', {
              data: {
                icon: 'icons/outline/add',
                variantSize: 'md',
              },
              classes: {
                custom: 'open',
                color: 'currentColor'
              }
            }, withContext = false) }}
            {{ include('_components/icon/icon.twig', {
              data: {
                icon: 'icons/outline/remove',
                variantSize: 'md',
              },
              classes: {
                custom: 'close',
                color: 'currentColor'
              }
            }, withContext = false) }}
          </summary>
          <div class="{{ props.classes.contentHolder }}">
            {{ include('_components/text/richText.twig', {
              data: {
                html: item.textDescription ??? null,
              },
              classes: {
                custom: 'text-sm/loose'
              }
            }, withContext = false) }}
          </div>
        </details>
      {% endfor %}
    </div>
  {% endif %}
</div>

{#
{% for i in 1..props.data.numberOfAccordions %}
  <details class="{{ props.data.name }} {{ props.classes.root }} {{ props.classes.custom }}"
           {% if props.data.firstOpen and loop.first %}open{% endif %}>
    {% if block('summary' ~ i) is defined %}
      <summary class="{{ props.classes.summary }}">
        {{ block('summary' ~ i) }}

        {{ include('_components/icon/icon.twig', {
          data: {
            icon: 'icons/filled/caret-down',
            variantSize: 'sm',
          },
          classes: {
            color: 'text-black'
          }
        }, withContext = false) }}
      </summary>

      {% if block('content' ~ i) is defined %}
        <div class="{{ props.classes.contentHolder }}">
          {{ block('content' ~ i) }}
        </div>
      {% endif %}
    {% endif %}
  </details>
{% endfor %}
#}
