{# >>> Comp Defaults #}
{% set compDefaults = {
  data: {
    name: 'c-cardNews',
    variantDirection: 'col',
    image: null,
    aspectRatio: 'aspect-landscape',
    title: null,
    text: null,
    url: null,
    linkText: null,
    lazy: true,
  },
  classes: {
    root: 'overflow-hidden group',
    custom: '',
  },
  variants: {
    direction: {
      col: {
        root: 'flex flex-col',
        image: '',
        body: 'inline-flex flex-col h-full mx-4 px-4 md:px-8 py-4 md:py-8 bg-white -mt-8',
        button: 'mt-4 md:mt-8',
      },
      row: {
        root: 'flex flex-col md:grid md:grid-cols-3',
        image: 'md:h-full md:col-span-1',
        body: 'px-4 md:px-8 py-4 md:py-8 md:col-span-2',
        button: 'mt-4 md:mt-8',
      }
    }
  }
} %}

{# >>> Merge data / classes / variants (optional) #}
{% set props = {
  data: data is defined and data is iterable ? compDefaults.data | merge(data) : compDefaults.data,
  classes: classes is defined and classes is iterable ? compDefaults.classes | merge(classes) : compDefaults.classes,
  variants: compDefaults.variants,
} %}

{# Modul #}
{% if props.data.image and props.data.title and props.data.url %}
  <a href="{{ props.data.url }}"
     class="{{ props.data.name }} {{ props.classes.root }} {{ props.variants.direction[props.data.variantDirection].root }} {{ props.classes.custom }}">
    <div class="{{ props.variants.direction[props.data.variantDirection].image }}">
      {{ include('_components/image/image.twig', {
        data: {
          image: props.data.image ??? null,
          aspectRatio: props.data.aspectRatio ??? null,
          objectFit: 'cover',
          renderPlainImage: true,
          lazy: props.data.lazy,
        },
        classes: {
          custom: 'hasOverlay'
        }
      }, withContext = false) }}
    </div>

    <div class="{{ props.variants.direction[props.data.variantDirection].body }}">
      <div>
        {# Headline #}
        {% if props.data.title ??? null %}
          <div class="text-leading">{{ props.data.title ??? null }}</div>
          {# Line #}
          <div class="w-1/4 leading-loose flex items-center h-10">
            <hr class="w-full h-[1px] bg-bp-accent border-0"/>
          </div>
        {% endif %}

        {# Text #}
        {% set text = props.data.text ??? null %}
        {% if text %}
          <div class="text-small text-primary">
            {{ text | striptags | truncate(160) }}
          </div>
        {% endif %}
      </div>

      <div class="flex flex-col items-start space-y-4 mt-4">
        {# Link #}
        {{ include('_components/button/button.twig', {
          data: {
            url: null,
            text: 'translate.component.button.textMore' | t,
            variantStyle: 'link',
            variantSize: 'md'
          }
        }, withContext = false) }}
      </div>
    </div>
  </a>
{% endif %}
